In [1]:
import pandas as pd
import numpy as np

In [70]:
link = pd.read_csv("link.csv")

In [71]:
link.drop(columns=["Unnamed: 0"], inplace=True)

In [72]:
link.Devce_Type.to_list()

['AXO145', 'TRU151', 'ZOD231', 'YRT326', 'LWR245']

In [73]:
link["Stats_Access_Link"] = link.Stats_Access_Link.apply(lambda x: x.split("/"))  # firstly split it using "/"

link

  Devce_Type                                 Stats_Access_Link
0     AXO145  [<url>https:, , xcd32112.smart_meter.com<, url>]
1     TRU151       [<url>https:, , tXh67.dia_meter.com<, url>]
2     ZOD231    [<url>https:, , yT5495.smart_meter.com<, url>]
3     YRT326      [<url>https:, , ret323_TRu.crown.com<, url>]
4     LWR245      [<url>https:, , luwr3243.celcius.com<, url>]

In [74]:
link["Stats_Access_Link"] = link["Stats_Access_Link"].apply(lambda x: x[2][:-1])  # second we got the main piece and 

link

  Devce_Type         Stats_Access_Link
0     AXO145  xcd32112.smart_meter.com
1     TRU151       tXh67.dia_meter.com
2     ZOD231    yT5495.smart_meter.com
3     YRT326      ret323_TRu.crown.com
4     LWR245      luwr3243.celcius.com

In [75]:
link["Stats_Access_Link"] = link["Stats_Access_Link"].apply(lambda x: x.lower())  # we guaranteed lowercase letters

In [76]:
link  # Now we can take the link we want

  Devce_Type         Stats_Access_Link
0     AXO145  xcd32112.smart_meter.com
1     TRU151       txh67.dia_meter.com
2     ZOD231    yt5495.smart_meter.com
3     YRT326      ret323_tru.crown.com
4     LWR245      luwr3243.celcius.com

In [78]:
link[link["Devce_Type"] == "AXO145"]["Stat"]

  Devce_Type         Stats_Access_Link
0     AXO145  xcd32112.smart_meter.com