In [72]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [73]:
df = pd.read_csv("daily_vaccination.csv")

df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

## Task - 4 
Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
Please  provide the link to your code as answer to this question

In [74]:
df.country.value_counts()

Northern Ireland        43
Wales                   43
Scotland                43
Canada                  43
Israel                  38
China                   37
United States           37
England                 36
United Kingdom          36
Mexico                  33
Chile                   33
Lithuania               32
Russia                  30
Italy                   30
Denmark                 30
Czechia                 30
Switzerland             30
Portugal                29
Norway                  29
Latvia                  29
Bahrain                 29
Estonia                 29
Germany                 29
Greece                  29
Romania                 29
Argentina               28
Hungary                 28
Malta                   28
Poland                  28
Bulgaria                28
Oman                    28
Croatia                 27
Iceland                 27
Belgium                 26
Luxembourg              26
Costa Rica              26
Finland                 26
Ireland                 25
Slovenia                22
France                  22
Spain                   22
Sweden                  22
United Arab Emirates    21
Austria                 20
Slovakia                18
Serbia                  18
Netherlands             17
Cyprus                  17
Seychelles              15
Gibraltar               15
Indonesia               14
Turkey                  13
Saudi Arabia            12
Singapore               12
India                   11
Brazil                  10
Panama                   6
Isle of Man              5
Ecuador                  2
Kuwait                   1
Name: country, dtype: int64

In [75]:
df.groupby("country").min()["daily_vaccinations"]

country
Argentina                 6483.0
Austria                   3368.0
Bahrain                    943.0
Belgium                      1.0
Brazil                     112.0
Bulgaria                   472.0
Canada                     866.0
Chile                       51.0
China                   187500.0
Costa Rica                 240.0
Croatia                    989.0
Cyprus                     534.0
Czechia                   1822.0
Denmark                   1994.0
Ecuador                    108.0
England                  37625.0
Estonia                    309.0
Finland                    459.0
France                    5000.0
Germany                  19721.0
Gibraltar                  520.0
Greece                     549.0
Hungary                   1339.0
Iceland                     63.0
India                   112150.0
Indonesia                11823.0
Ireland                    550.0
Isle of Man                 90.0
Israel                    6887.0
Italy                      926.0
Kuwait                       NaN
Latvia                     338.0
Lithuania                  311.0
Luxembourg                  62.0
Malta                      259.0
Mexico                    1300.0
Netherlands               4000.0
Northern Ireland          1563.0
Norway                     224.0
Oman                       817.0
Panama                       6.0
Poland                    4300.0
Portugal                  2791.0
Romania                    712.0
Russia                    3357.0
Saudi Arabia             14153.0
Scotland                  3047.0
Serbia                    1150.0
Seychelles                 500.0
Singapore                 2800.0
Slovakia                   425.0
Slovenia                  1270.0
Spain                    41496.0
Sweden                    3859.0
Switzerland               3000.0
Turkey                   67192.0
United Arab Emirates     30698.0
United Kingdom           46423.0
United States            57909.0
Wales                     1763.0
Name: daily_vaccinations, dtype: float64

In [76]:
df.iloc[988] # take sample

country                          Oman
date                       12/28/2020
daily_vaccinations                NaN
vaccines              Pfizer/BioNTech
Name: 988, dtype: object

In [77]:
df.isnull().sum()  # total isnull control

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [78]:
df['daily_vaccinations'].fillna(df.groupby("country")["daily_vaccinations"].transform('min'), inplace=True)

In [79]:
df.isnull().sum()  # total isnull control (after implement)

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

In [80]:
df.iloc[988]  # same sample control

country                          Oman
date                       12/28/2020
daily_vaccinations              817.0
vaccines              Pfizer/BioNTech
Name: 988, dtype: object

In [84]:
df.fillna(0, inplace=True)  # Kuwait null fill with 0

In [88]:
df.groupby("country").min()["daily_vaccinations"]["Kuwait"]  # Kuwait null filled with 0

0.0

In [85]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

# Task - 5
Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
Please  provide the link to your code as answer to this question

In [89]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [90]:
df.describe()

       daily_vaccinations
count        1.502000e+03
mean         4.208344e+04
std          1.145116e+05
min          0.000000e+00
25%          1.434000e+03
50%          5.412000e+03
75%          2.502400e+04
max          1.126251e+06

In [100]:
top3_countries = df.groupby("country")["daily_vaccinations"].median().sort_values(ascending=False)[:3]

top3_countries

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64